{% extends 'base.html.twig' %}

{% block title %}Jeans index{% endblock %}

{% block body %}
    <h1>Les jeans</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeans in jeans %}
            <tr>
                <td>{{ jeans.id }}</td>
                <td>{{ jeans.name }}</td>
                <td>{{ jeans.description }}</td>
                <td>{{ jeans.price }}</td>
                <td>  <img src="{{ asset('uploads/' ~ jeans.picture) }}" class=" w-25 " alt="jeans"> </td>
                <td>
                    <a href="{{ path('admin_jeans_show', {'id': jeans.id}) }}">Ouvrir</a>
                    <a href="{{ path('admin_jeans_edit', {'id': jeans.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Le tableau est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_jeans_new') }}">Créer un nouveau</a>
{% endblock %}
