{% extends 'base.html.twig' %}

{% block title %}Jeans{% endblock %}

{% block body %}
    <h1>Jeans</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeans.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jeans.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeans.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ jeans.price }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td class="col-6 row">{{ jeans.picture }} <img src="{{ asset('uploads/' ~ jeans.picture) }}" class=" col-4 " alt="jeans"> 
</td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_jeans_index') }}">Retour à la liste</a> -

    <a href="{{ path('admin_jeans_edit', {'id': jeans.id}) }}">Modifier</a>

    {{ include('admin_jeans/_delete_form.html.twig') }}
{% endblock %}
