{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
{% if cart.elements %}
<div class=" container offset-1">
<h2 class='my-5'>Panier</h2>
<div class="row">
<table class="table col-8 mt-3">
    <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Couleur</th>


    </tr>

    {% for element in cart.elements %}
    

    <tr>
        <td class='col-4'>
        <div>
        {{ element.jeans.name }}   
        </div>
        <div class=''><img src="{{ asset('uploads/' ~ element.jeans.picture) }}" class=" w-25 " id="img" alt="jeans"></div>
        </td>
        <td>{{ element.quantity }}</td>
        <td>{{ element.jeans.price }}€</td>  
        <td>{{ element.couleur }}</td>   

    </tr>

    {% endfor %}

</table>

<div class=' border p-3 mt-3'>
    Total : {{ cart.total }}€
</div>
</div>
<div class="mt-3">
      <a href="{{ path('cart_clear')}}" id="btn" type="" class="btn btn-danger  "></i> Vider le panier</a>
{% if is_granted('ROLE_CLIENT') == true %}
      <a href="{{ path('payment_index')}}" id="btn" type="" class="btn btns  "><i class="fas fa-cart-plus"></i> Valider le panier</a>

{% else %}
    <p>Vérifiez votre email pour passer commande (voir le profil).</p>
{% endif %}
  {% else %}
            <tr>
                <td colspan="6">Le panier est vide</td>
            </tr>
{% endif %}
</div>
</div>
{% endblock %}
