{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
{% if cart.elements %}

<div>
    Total : {{ cart.total }}
</div>

<table>
    <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Couleur</th>


    </tr>

    {% for element in cart.elements %}
    

    <tr>
        <td>{{ element.jeans.name }}</td>
        <td>{{ element.quantity }}</td>
        <td>{{ element.jeans.price }}</td>  
        <td>{{ element.couleur }}</td>   

    </tr>
         <td><img src="{{ asset('uploads/' ~ element.jeans.picture) }}" class=" w-25 " id="img" alt="jeans"></td>   

    {% endfor %}

</table>

      <a href="{{ path('cart_clear')}}" id="btn" type="" class="btn btn-danger  "></i> Vider le panier</a>
{% if is_granted('ROLE_CLIENT') == true %}
      <a href="{{ path('payment_index')}}" id="btn" type="" class="btn btn-light  "><i class="fas fa-cart-plus"></i> Valider le panier</a>

{% else %}
    <p>Vérifiez votre email pour passer commande (voir le profil).</p>
{% endif %}
  {% else %}
            <tr>
                <td colspan="6">Le panier est vide</td>
            </tr>
{% endif %}


{% endblock %}
