{% extends 'base.html.twig' %}

{% block title %}Detail Commande {% endblock %}

{% block body %}
    <h1 class=" m-5 ">Detail des Commandes </h1>
    
    <form class="form-inline my-2 my-lg-0 col-6 " method="GET">
      <input class="form-control mr-sm-2 w-25" name="search" type="search" placeholder="Id commande" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>    
    
    <a href="{{ path('admin_detail_commande_new') }}" class=" d-flex justify-content-end ">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id de payment</th>
                <th>Id de commande</th>
                <th>Référence</th>
                <th>Quantité</th>
                <th>Modèle</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail_commande in detail_commandes %}
            <tr>       
                <td>{{ detail_commande.purchase.paymentRequest.id }}</td>
                <td>{{ detail_commande.purchase.id }}</td>
                <td>{{ detail_commande.purchase.reference }}</td>

                <td>{{ detail_commande.quantite }}</td>
                <td>{{ detail_commande.jeans.name }}</td>

                <td>{{ detail_commande.couleur }}</td>

                <td>
                    <a href="{{ path('admin_detail_commande_show', {'id': detail_commande.id}) }}">Ouvrir</a>
                    <a href="{{ path('admin_detail_commande_edit', {'id': detail_commande.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
