{% extends 'base.html.twig' %}

{% block title %}DetailCommande index{% endblock %}

{% block body %}
    <h1>DetailCommande index</h1>
    <a href="{{ path('admin_detail_commande_new') }}" class=" d-flex justify-content-end ">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Réferrence</th>
                <th>Quantite</th>
                <th>Modèle</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail_commande in detail_commandes %}
            <tr>       

                <td>{{ detail_commande.purchase.id }}</td>
                <td>{{ detail_commande.purchase.reference }}</td>

                <td>{{ detail_commande.quantite }}</td>
                <td>{{ detail_commande.jeans.name }}</td>

                <td>{{ detail_commande.couleur }}</td>

                <td>
                    <a href="{{ path('admin_detail_commande_show', {'id': detail_commande.id}) }}">show</a>
                    <a href="{{ path('admin_detail_commande_edit', {'id': detail_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
