{% extends 'base.html.twig' %}

{% block title %}DetailCommande{% endblock %}

{% block body %}
    <h1>DetailCommande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detail_commande.id }}</td>
            </tr>
            <tr>
                <th>Quantité</th>

                <td>{{ detail_commande.quantite }}</td>
            </tr>
            <tr>                
                <th>Tour de hanches</th>
                <td>{{ detail_commande.purchase.client.hanches }}</td>
            </tr>
             <tr>
                <th>Tour de bassin</th>
                <td>{{ detail_commande.purchase.client.bassin }}</td>
            </tr>
             <tr>
                <th>Tour de cuisse</th>
                <td>{{ detail_commande.purchase.client.cuisses }}</td>

            </tr> 
            <tr>
                <th>Longueur de jambes</th>
                <td>{{ detail_commande.purchase.client.jambes }}</td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_detail_commande_index') }}">back to list</a>

    <a href="{{ path('admin_detail_commande_edit', {'id': detail_commande.id}) }}">edit</a>

    {{ include('admin_detail_commande/_delete_form.html.twig') }}
{% endblock %}
