<nav class="navbar navbar-expand-lg " id='navbar'>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-reset lien " href=" {{path('home')}} ">Home</a>
      </li>

      {% if is_granted('ROLE_USER') == false %}

     <li class="nav-item active">
        <a class="nav-link text-reset lien " href=" {{path('app_login')}} ">Connexion</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-reset lien " href=" {{path('app_register')}} ">Inscription</a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link text-reset lien " href=" {{path('contact')}} ">contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-reset lien " href=" {{path('catalog_index')}} ">Catalogue</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-reset lien " href=" {{path('cart_index')}} ">Panier</a>
      </li>
      
      
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item active dropdown">
        <a class="nav-link text-reset lien  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Espace Aministrateur
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('admin_detail_commande_index')}}">Détails Commandes</a>
          <a class="dropdown-item" href="{{path('admin_jeans_index')}}">Catalogue</a>
          <a class="dropdown-item" href="{{path('admin_paiement_index')}}">Paiement</a>
          <a class="dropdown-item" href="{{path('admin_purchase_index')}}">Commandes</a>
          <a class="dropdown-item" href="{{path('admin_user_index')}}">Utilisateurs</a>
        </div>
      </li>
      {% endif %}
      
      {% if is_granted('ROLE_USER') %}
       <li class="nav-item active">
        <a class="nav-link text-reset lien " href=" {{path('profile_show')}} ">Profil</a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link text-reset lien " href=" {{path('app_logout')}} ">Se&nbsp;déconnecter</a>
      </li>
      {% endif %}
    </ul>
    
  </div>
</nav>