{% extends 'base.html.twig' %}

{% block title %}Jeans index{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href=" {{ asset('css/stylecat.css')}}">

{% endblock %}

{% block body %}
    <h1>Jeans index</h1>

    
        {% set myVal = 0 %}

        {% for jeans in jeans %}
     {% set myVal = myVal + 1 %}
     
{% if ((myVal + 2) % 3) == 0 %}
{{'<div class="all" >'}}
{% endif %}

<div class="liens">

<a href="{{ path('catalog_show', {'id': jeans.id}) }}">

             <img src="{{ asset('uploads/' ~ jeans.picture) }}" id="img" alt="jeans">
            <p> {{ jeans.name }}</p>
       
            </a> 

      <a href="{{ path('cart_add', {'id': jeans.id}) }}" id="btn" type="" class="btn btn-dark  "><i class="fas fa-cart-plus"></i></a>

      
                    
</div>

       
 
{% if ((myVal + 2) % 3) == 2 %}
{{'</div>'}}
{% endif %}
            
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
       

{% endblock %}
