{% extends 'base.html.twig' %}

{% block title %}Jeans{% endblock %}

{% block body %}
    <h1>Jeans</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeans.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ jeans.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeans.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ jeans.price }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td> <img src="{{ asset('uploads/' ~ jeans.picture) }}" id="img" class=" w-25 " alt="jeans">
</td>
            </tr>
        </tbody>
    </table>
 {{ form_start(formAfficher) }}
        {{ form_row(formAfficher.couleur) }}
        

        <button type="submit" class="btn"><i class="fas fa-cart-plus"></i></button>
    {{ form_end(formAfficher) }}
    <a href="{{ path('catalog_index') }}">back to list</a>

{% endblock %}
